# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment
.env
.env.local
.env.example
ai/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Models
*.pt
*.pth
*.onnx


# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/
